.card{
    padding: 40px;
    margin: 10px 25px;
    display: flex;
    flex-direction: column;
}

input{

    width: 250px;
    height: 30px;
    padding-left: 15px;
}

label{
    width: 250px;
    margin-top: 10px;
   
}

li {
    list-style-type: none;
    font-size: 1.8rem;
  }

.block{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.btn{
    background-color: rgb(60, 60, 105);
    color: #FFF;
    border-radius: 10px;
    justify-content: center;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 15px;
}

.btn:hover{
    box-shadow: rgba(75, 75, 146, 0.239) 0px 3px 8px;
    font-weight: bold;
}

h2{
    font-size: 2rem;
}


select{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    padding-left: 15px;
}